@page "/angular"
@using System
@using MaterialDesign.Data

<h1>Angular Counter</h1>
<p>Here's the Weather counter:</p>
<angular-counter data="@GlobalData.GlobalCount"></angular-counter>

@code {

}


