@page "/counter"
@using MaterialDesign.Data

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>Global count: @WeatherForecast.GlobalCount</p>

<MatButton Outlined="true" class="btn btn-primary" @onclick="IncrementCount">Click me</MatButton>
<MatButton Outlined="true" class="btn btn-primary" @onclick="IncrementGlobalCount">Global</MatButton>

@code {
    int currentCount = 0;

    void IncrementGlobalCount()
    {
        WeatherForecast.GlobalCount++;
    }

    void IncrementCount()
    {
        currentCount++;
    }
}
