
    <MatNavMenu>
        <MatNavMenu Class="top-row pl-4 navbar navbar-dark">
            <a class="navbar-brand" href="">Material Design</a>
            <button class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
        </MatNavMenu>
        <MatNavItem>
            <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </MatNavItem>
        <MatNavSubMenu @bind-Expanded="@navSubMenuOpenState">
            <MatNavSubMenuHeader Class="nav-link text-white">
                <MatNavItem AllowSelection="false"><MatIcon Icon="add"></MatIcon>&nbsp; Counter</MatNavItem>
            </MatNavSubMenuHeader>
            <MatNavSubMenuList>
                <MatNavItem Href="counter" Class="nav-link text-white"><MatIcon Icon="add_box"></MatIcon>Blazor Counter </MatNavItem>
                <MatNavItem Class="nav-link text-white bg-danger" Href="angular"><MatIcon Icon="add_box"></MatIcon>Angular Counter&nbsp; </MatNavItem>
            </MatNavSubMenuList>
        </MatNavSubMenu>
        <MatNavItem>
            <NavLink Class="nav-link text-white" Href="magnettable">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Magnet Table
            </NavLink>
        </MatNavItem>
        <MatNavItem>
            <NavLink class="nav-link text-white" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </MatNavItem>
        <MatNavItem>
            <NavLink class="nav-link text-white bg-danger" href="JSInterop"><MatIcon Icon="list_alt"></MatIcon>
                 JavaScript Form
            </NavLink>
        </MatNavItem>
    </MatNavMenu>
@functions
        {
    bool navSubMenuOpenState;
}
